body {
    font-family: 'Montserrat';
    background: #eee;
}
.card{
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.navbar-brand{
  font-family: 'Nothing You Could Do', cursive;
}

.visos{
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .media-content{
        overflow: hidden;
    }
}



.page-enter-active {
  animation: bounce-in .8s;
}
.page-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(1); opacity: 0; }

  100% { transform: scale(1); opacity: 1; }
}
@keyframes bounce-out {
  0% { transform: scale(1); opacity: 1; }

  100% { transform: scale(1); opacity: 0; }
}

